* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:rgb(11, 101, 140);
}

.wrapper {
    width: 600px;
    background-color: blanchedalmond;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.wrapper .button {
    border-top: 1px solid whitesmoke;
}

.features button:hover {
    color:antiquewhite;
    background-color: aqua;
}

.features button {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background-color: blue;
}